# Rust
/target/
**/target/
debug/
*.rs.bk
*.pdb
**/mutants.out*/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
*.so
*.dylib
.venv/
venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Maturin
*.whl

# Outputs
outputs/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
